{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% bootstrap_css %}
    <title>{% block title %}Home{% endblock title %}</title>
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">Travell</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'black_friday' %}"
                >Black Friday</a
              >
            </li>
          </ul>
          <div class="col-md-3 text-end">
            <a
              href="{% url 'admin:index' %}"
              class="btn btn-outline-light me-2"
              target="_blank"
              >Login</a
            >
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <!-- este é o rodapé-->

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container text-center">
        <span class="text-muted"
          >Copyright © 2022 - Travell {% now "Y" %}
        </span>
      </div>
    </footer>

    {% bootstrap_javascript %}
  </body>
</html>
